@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<article class="grid__col-md-9">
    <h1 class="article__header">@GetString("ItemPublisher:Item.Title")</h1>

    <div class="article__summary">@GetString("ItemPublisher:Item.Summary")</div>

    <img class="article__image" src="/Admin/Public/GetImage.ashx?width=412&amp;height=200&amp;crop=0&amp;Compression=75&amp;image=@GetString("ItemPublisher:Item.Image")" />

    @GetString("ItemPublisher:Item.Text")
</article>
<details class="grid__col-md-3">
    <div class="article__info-header">@Translate("Written by")</div>
    <div class="article__info-body">@GetString("ItemPublisher:Item.Author")</div>

    <div class="article__info-header">@Translate("Publication date")</div>
    <div class="article__info-body">@GetDate("ItemPublisher:Item.Date").ToShortDateString()</div>
   
</details>
