@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;
@MasterPageFile("../../EmailMaster.cshtml")
@Include("../../EmailHelpers.cshtml")

<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="500" id="emailBody">
    @RenderHeaderSection()
    @RenderMessage()
    @RenderFooterSection()
</table>

@* CONTENT HELPERS *@

@helper RenderHeaderSection()
{
    @RenderHeaderImage();
}

@helper RenderMessage()
{
    Column message = new Column();
    message.subheader = Translate("You have successfully subscribed");
    message.text.Add("");
    message.text.Add(Translate("Hi") + " " + GetString("UserManagement:User.Name") + ", ");
    message.text.Add(Translate("Thank you for your subscription to the newsletter!") + "!");
    @CreateRow(message);
}