@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>


@GetValue("Form.FormStart")
@GetValue("Form.SystemFields")

@{
  int termsPageId = GetPageIdByNavigationTag("TermsConditions");
  }


@foreach (LoopItem field in GetLoop("Fields"))
{
 
	string fieldName = field.GetString("Field.Name");
	string fieldControl = field.GetString("Field.Control");

	string fieldControlTranslateYes = Translate("Yes, I understand English");
	string fieldControlTranslateNo = Translate("No, I don't understand English");

	string fieldControlFinal = fieldControl.Replace("No, I don't understand English", fieldControlTranslateNo).Replace("Yes, I understand English", fieldControlTranslateYes);



    if (field.GetString("Field.Type") == "TextInput")
    {
        string required = field.GetBoolean("Field.Required") ? "required" : "";

        <div class="form__field-group @field.GetString("Field.CssClass")">
            <label for="@field.GetValue("Field.SystemName")">@Translate(string.Format("FormInputLabel.{0}", fieldName), fieldName)</label>
            <input type="text" name="@field.GetString("Field.SystemName")" value="@field.GetString("Field.Value")" @required/>
            @field.GetValue("Field.Description")
        </div>
    }
    else if (field.GetString("Field.Type") == "Textarea")
    {
        string required = field.GetBoolean("Field.Required") ? "required" : "";

        <div class="form__field-group @field.GetString("Field.CssClass")">
            <label for="@field.GetValue("Field.SystemName")">@Translate(string.Format("FormInputLabel.{0}", fieldName), fieldName)</label>
            <textarea name="@field.GetString("Field.SystemName")" value="@field.GetString("Field.Value")" @required ></textarea>
            @field.GetValue("Field.Description")
        </div>
    }
    else if (field.GetString("Field.Type") == "Submit")
    {
        @*field.GetString("Field.Control").Replace(" id", " class=\"btn btn--primary dw-mod u-pull--right\" onclick=\"Buttons.LockButton(event)\" id").Replace("value='Submit'","Value")*@
		<input type="submit" class="btn btn--primary dw-mod u-pull--right" onclick="Buttons.LockButton(event)" id="SignUp" name="SignUp" value='@Translate("Submit")'>
    }
	else if (field.GetString("Field.SystemName") == "IagreetotheTerms")
    {	
		
		<div class="form__field-group termsConditions">
            <label for="@field.GetValue("Field.SystemName")">@Translate(string.Format("FormInputLabel.{0}", fieldName), fieldName) <a href="/Default.aspx?ID=@termsPageId">@Translate("TermsAndConditions", "Terms &amp Conditions")</a></label>
            @field.GetString("Field.Control")
            @field.GetValue("Field.Description")
        </div>
    }
	else
    {
        <div class="form__field-group @field.GetString("Field.CssClass")">
            <label for="@field.GetValue("Field.Systemname")">@Translate(string.Format("FormInputLabel.{0}", fieldName), fieldName)</label>
            @fieldControlFinal
            @field.GetValue("Field.Description")
        </div>

			
			
    }
}

@GetValue("Form.FormEnd")
