@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering
@using System.Collections.Generic
@using System.Linq
@using Dynamicweb.Core
@using System
@SnippetStart("BootstrapCss")
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
@SnippetEnd("BootstrapCss")

@Include("/Files/Templates/Designs/BetIBC/DataManagement/Forms/Form/Includes/GeneralDataListFormHelpers.cshtml")
@{
    var formStart = GetString("Form.Start");
    var formEnd = GetString("Form.End");
    var formHiddenFileds = GetString("Form.Hidden");
    var formSubmit = GetString("Form.Button.Submit");
    var user = GetGlobalValue("Global:Extranet.UserID");
    var typeControl = GetString("Form.Fields.Admin_Payment_Methods_Type.Control");
}

<div class="container">
    <h2>Add Payment Method</h2>
    @formStart
    @formHiddenFileds
    @*@TemplateTags()*@
<div class="payment-methods-form">
    <div class="payment-type ">
        <label>Type:</label>
       @typeControl
    </div>
    <div class="payment-methods-form-content">
        @if(!string.IsNullOrEmpty(GetString("Form.Fields.Admin_Payment_Methods_Skrill_address.Value"))){
            <div class="payment-method-type">
                @simpleInputField("text", "Skrill adress:", "Admin_Payment_Methods_Skrill_address", "Admin_Payment_Methods_Skrill_address", "", GetString("Form.Fields.Admin_Payment_Methods_Skrill_address.Value"))
            </div>
        }
        @if (!string.IsNullOrEmpty(GetString("Form.Fields.Admin_Payment_Methods_Neteller_address.Value")))
        {
            <div class="payment-method-type">
                @simpleInputField("text", "Neteller adress:", "Admin_Payment_Methods_Neteller_address", "Admin_Payment_Methods_Neteller_address", "", GetString("Form.Fields.Admin_Payment_Methods_Neteller_address.Value"))
            </div>
        }
        @if (!string.IsNullOrEmpty(GetString("Form.Fields.Admin_Payment_Methods_Ecopayz_account_name.Value")))
        {
            <div class="payment-method-type">
                @simpleInputField("text", "Ecopayz account name:", "Admin_Payment_Methods_Ecopayz_account_name", "Admin_Payment_Methods_Ecopayz_account_name", "", GetString("Form.Fields.Admin_Payment_Methods_Ecopayz_account_name.Value"))
                @simpleInputField("number", "Ecopayz account number:", "Admin_Payment_Methods_Ecopayz_account_number", "Admin_Payment_Methods_Ecopayz_account_number", "", GetString("Form.Fields.Admin_Payment_Methods_Ecopayz_account_number.Value"))
            </div>
        }
        @if (!string.IsNullOrEmpty(GetString("Form.Fields.Admin_Payment_Methods_IBAN.Value")))
        {
            <div class="payment-method-type">
                @simpleInputField("text", "Bank text:", "Admin_Payment_Methods_Bank_text", "Admin_Payment_Methods_Bank_text", "", GetString("Form.Fields.Admin_Payment_Methods_Bank_text.Value"))
                @simpleInputField("text", "IBAN", "Admin_Payment_Methods_IBAN", "Admin_Payment_Methods_IBAN", "", GetString("Form.Fields.Admin_Payment_Methods_IBAN.Value"))
                @simpleInputField("text", "Bank street:", "Admin_Payment_Methods_Bank_street", "Admin_Payment_Methods_Bank_street", "",GetString("Form.Fields.Admin_Payment_Methods_Bank_street.Value"))
                @simpleInputField("text", "Bank city:", "Admin_Payment_Methods_Bank_city", "Admin_Payment_Methods_Bank_city", "", GetString("Form.Fields.Admin_Payment_Methods_Bank_city.Value"))
                @simpleInputField("text", "Bank country:", "Admin_Payment_Methods_Bank_country", "Admin_Payment_Methods_Bank_country", "", GetString("Form.Fields.Admin_Payment_Methods_Bank_country.Value"))
                @simpleInputField("text", "Bank name:", "Admin_Payment_Methods_Bank_name", "Admin_Payment_Methods_Bank_name", "", GetString("Form.Fields.Admin_Payment_Methods_Bank_name.Value"))
            </div>
        }
        @if (!string.IsNullOrEmpty(GetString("Form.Fields.Admin_Payment_Methods_Crypto_currency.Value")))
        {
            <div class="payment-method-type">
                <div>
                    <label><strong>Crypto currency:</strong></label>
                    <select id="Admin_Payment_Methods_Crypto_currency" name="Admin_Payment_Methods_Crypto_currency">
                        @GeneralCryptoCurrencyOptionsList(GetString("Form.Fields.Admin_Payment_Methods_Crypto_currency.Value"));
                    </select>
                </div>
                @simpleInputField("text", "Crypto wallet ID:", "Admin_Payment_Methods_Crypto_wallet_ID", "Admin_Payment_Methods_Crypto_wallet_ID", "", GetString("Form.Fields.Admin_Payment_Methods_Crypto_wallet_ID.Value"))
            </div>
        }
        <div class="hidden">
            @simpleInputField("text", "Crypto wallet ID:", "Admin_Payment_Methods_User_ID", "Admin_Payment_Methods_User_ID", "", @user)
        </div>
    </div>
        @formSubmit
</div>
    @formEnd
</div>