@using System.Text.RegularExpressions
@{
    
   
    var formStart = GetString("Form.Start");
    var formEnd = GetString("Form.End");
    var formHiddenFileds = GetString("Form.Hidden");
    var bettingPrediction = GetString("Form.Fields.BettingPrediction.Value");
    var bookmakerLogo = GetString("Form.Fields.Bookmaker.Value");
    var bookmakerName = GetString("Form.Fields.Bookmaker_Name.Value");
    var category = GetString("Form.Fields.Category.Value");
    var dateAdded = GetString("Form.Fields.Date_Added.Value");
    var approvedDate = GetString("Form.Fields.Approve_Date.Value");
    var description = GetString("Form.Fields.Description.Value");
    var predictionID = GetString("Form.Fields.Id.Value");
    var league = GetString("Form.Fields.League.Value");
    var odds = GetString("Form.Fields.Odds.Value");
    var prediction = GetString("Form.Fields.Prediction.Value");
    var predictionTitle = GetString("Form.Fields.Prediction_Title.Value");
    var sort = GetString("Form.Fields.Sort.Value");
    var stake = GetString("Form.Fields.Stake.Value");
    var startGMT = GetString("Form.Fields.Start_GMT.Value");
    var tipsterEmail = GetString("Form.Fields.Tipster_Email.Value");
    var tipsterID = GetString("Form.Fields.Tipster_ID.Value");
    var turnament = GetString("Form.Fields.Tournament.Value");
    var userID = GetString("Form.Fields.User_ID.Value");
    var descriptionClean = Regex.Replace(description, "<.*?>", String.Empty);
    var followOnVIP = GetString("Form.Fields.FollowOn_VIP.Value");
    var bookmakerNameClean = bookmakerName.Replace("+", "");
    var bookmakerURL = GetPageIdByNavigationTag(bookmakerNameClean).ToString();
}

<div class="main_wrapper">
    <h2>Verify Prediction</h2>
    @formStart
    @formHiddenFileds
    <label>Prediction Title</label>
    <input type="text" id="Prediction_Title" name="Prediction_Title" value="@predictionTitle" />
    <label>Odds</label>
    <input type="text" id="Odds" name="Odds" value="@odds" />
    <label>Stake</label>
    <input type="text" id="Stake" name="Stake" value="@stake" />
    <label>League</label>
    <input type="text" id="League" name="League" value="@league" />
    <label>Turnament</label>
    <input type="text" id="Tournament" name="Tournament" value="@turnament" />
    <label>Description</label>
    <textarea id="Description" name="Description" id="Description"/>
@descriptionClean
</textarea>
    <label>Date Added</label>
    <input type="datetime" id="Date_Added" name="Date_Added" min="1900-01-01" value="@dateAdded" />
    <label>Start GMT</label>
    <input type="datetime" id="Start_GMT" name="Start_GMT" min="1900-01-01" value="@startGMT" />
    <label>Category</label>
    <input type="text" id="Category" name="Category" value="@category" />
    <label>Bookmaker Name</label>
    <input type="text" id="Bookmaker_Name" name="Bookmaker_Name" value="@bookmakerName" />
    <label>Bookmaker Logo</label>
    <input type="text" id="Bookmaker" name="Bookmaker" value="@bookmakerLogo"/>
    <label>Betting Prediction</label>
    <input type="text" id="BettingPrediction" name="BettingPrediction" value="@bettingPrediction" />
    <label>Tipster Email</label>
    <input type="text" id="Tipster_Email" name="Tipster_Email" value="@tipsterEmail" />
    <label>Final Score</label>
    <input type="text" id="Match_Final_Score" name="Match_Final_Score" value=""/>
    <label>Result Screenshot</label>
    <input type="file" id="Result_Screenshot" name="Result_Screenshot" />
    <label>VIP IBC Screenshot</label>
    <input type="file" id="VIP_IBC_Screenshot" name="VIP_IBC_Screenshot" />
    <div class = "hidden">
       <input type="datetime" id="Approve_Date" name="Approve_Date" min="@approvedDate" value="@approvedDate" />
    <input type="checkbox" id="FollowOn_VIP" name="FollowOn_VIP" value="@followOnVIP" />
       <label>Bookmaker URL</label>
     
    <input type="text" id="BookmakerUrl" name="BookmakerUrl" value="Default.aspx?ID=@bookmakerURL" />
        <input type="text" id="Tipster_ID" name="Tipster_ID" value="@tipsterID" />
        <input type="checkbox" id="Mail_Verification" name="Mail_Verification" value=""/>
         <label>Approve Prediction</label>
        <input type="checkbox" value = "True" id="Approved" name="Approved" value=""/>
        <input type="text" id="Sort" name="Sort" value="@sort"/>
        <input type="text" id="Id" name="Id" value="@predictionID"/>
        
        <input type="text" id="Page_ID_Prediction" name="Page_ID_Prediction" value=""/>
        <input type="text" id="Prediction_Status" name="Prediction_Status" value=""/>
   
        <input type="text" id="User_ID" name="User_ID" value="@userID"/>
   
    
</div>

<input type="submit" />

    @formEnd
</div>
