@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{ 
    string areaId = GetGlobalValue("Global:Area.ID");
    string autoCssLink = "/Files/Templates/Designs/Rapido/css/rapido/rapido_" + areaId + ".min.css";

    //Font settings
    string navigationFont = GetString("Item.Area.NavigationFont.FontFamily").Replace(" ", "+");
    string mobileNavigationFont = GetString("Item.Area.MobileNavigationFont.FontFamily").Replace(" ", "+");
    string headerFont = GetString("Item.Area.ContentLayoutHeaderFont.FontFamily").Replace(" ", "+");
    string subHeaderFont = GetString("Item.Area.ContentLayoutSubheaderFont.FontFamily").Replace(" ", "+");
    string contentFont = GetString("Item.Area.ContentLayoutBodyText.FontFamily").Replace(" ", "+");
}

<head>
    <meta charset="utf-8">
    <title>@GetValue("Title")</title>
@GetValue("MetaTags")
@GetValue("CopyRightNotice")


    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link href="/Files/Templates/Designs/BetIBC/favicon" rel="icon" type="image/png">

    <!-- Base (Default, wireframe) styles -->
    <link rel="stylesheet" href="/Files/Templates/Designs/Rapido/css/base/base.css" type="text/css">

    <!-- Rapido Css from Website Settings -->
    <link rel="stylesheet" href="@autoCssLink" type="text/css">

    <!-- Ignite Css (Custom site specific styles) -->
    <link type="text/css" href="/Files/Templates/Designs/Rapido/css/ignite/ignite.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=@navigationFont:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=@mobileNavigationFont:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=@headerFont:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=@subHeaderFont:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=@contentFont:100,200,300,400,500,600,700,800,900">
@GetValue("Stylesheets")
@GetValue("Javascripts")
</head>

<body>
    @GetValue("DwContent(contentmain)")
</body>
