@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div class="grid news-list">
   
    @foreach (LoopItem item in GetLoop("ItemPublisher:Items.List"))
    {
        string link = "/Default.aspx?ID=" + item.GetString("ItemPublisher:Item.Field.PageId");
		string linkImagineRaw = item.GetString("ItemPublisher:Item.Image");

        <div class="grid__col-md-4 grid__col-sm-4" >
            <a  href="@link" class="responsive-image responsive-image--4-3" name='Open article'>
                <img loading="lazy" src="/Admin/Public/GetImage.ashx?width=412&amp;height=200&amp;crop=5&amp;Compression=75&amp;image=@linkImagineRaw" alt="News Image"/>
            </a>
            <div class="grid-item">
                <h2 class="article__header">@item.GetString("ItemPublisher:Item.Title")</h2>

                <div class="article__summary"><p>@item.GetString("ItemPublisher:Item.Summary")</p></div>
                <div class="grid__cell--footer">
                @*    <a href="@link" class="btn btn--link btn--line-height dw-mod">@Translate("Read more")</a> *@
                </div>
            </div>
        </div>
    }
</div>
