@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering
@using System.Collections.Generic
@using System.Linq
@using Dynamicweb.Core
@using System
@Include("/Files/Templates/Designs/BetIBC/DataManagement/Publishings/Custom/Includes/DepositListAndDetailsVariables.cshtml")
@Include("/Files/Templates/Designs/BetIBC/DataManagement/Publishings/Custom/Includes/DepositListAndDetailsHelpers.cshtml")
@{
var rowID = GetString("RowId");
}

<div class="details-wrapper row" data-attribute-hidden="isHidden">
    <div class="col-xs-12">
        <div class="container-md-12" id="UserInfoContainer">
            @userInfoDetails(currentDeposit)
        </div>
    </div>
    <div class="col-xs-12">
        <div class="container-md-12" id="BookmakerInfoContainer">
            @bookmakerInfoDetails(currentDeposit)
        </div>
    </div>
    <div class="col-xs-12">
        <div class="container-md-12" id="DepositInfoContainer">
            @depositInfoDetails(currentDeposit)
        </div>
    </div>
</div>
<div id="detail-back-button">
    <button onclick="goBack()">Back</button>
    <button onclick="location.href='/english/withdraw-transfers-deposits-for-admin/deposits/requested-deposits/confirm-form?FORM_ROW_ID=@rowID&amp;VIEW_ID=103'">Verify</button>
</div>

 
 