@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering
@using System.Collections.Generic
@using System.Linq
@using Dynamicweb.Core
@using System
@Include("/Files/Templates/Designs/BetIBC/DataManagement/Publishings/Custom/Includes/DepositListAndDetailsVariables.cshtml")
@Include("/Files/Templates/Designs/BetIBC/DataManagement/Publishings/Custom/Includes/DepositListAndDetailsHelpers.cshtml")
@{
        List<string> uniqueEmailsVerify = new List<string>();
        List<string> uniqueEmailsProcesed = new List<string>();

}
<div class="container deposit-list-wrapper row">
    <div class="transaction-list-top-navigation">
        <div class="transaction-list-top-navigation-wrapper">
        <div>
            <a href="/english/admin-area">Admin Area Page</a>
        </div>
        <div>
            <a href="/">Profits</a>
        </div>
            <div>
                <a href="/">Crosscheck Area</a>
            </div>
        </div>
    </div>
 
    <div class="filter-container">
        <div>
            <label>Client Email:</label>
            <input class="email-filter" type="text">
        </div>
        <div>
        <label>Express:</label>
        <select class="express-filter">
            <option value = "all">All</option>
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select>
        </div>
        <div id="reset-filter-button">
            @Translate("Clear Filters", "Clear Filters")
        </div>
      
    </div>
      <a class="fake-tab-link" href = "/english/withdraw-transfers-deposits-for-admin/deposits/requested-deposits">1. Requested Deposits</a>
      <a class="fake-tab-link"  href="/english/withdraw-transfers-deposits-for-admin/deposits/confirmed-deposits">2. Confirmed deposits</a>
      <a class="fake-tab-link"  href="/english/withdraw-transfers-deposits-for-admin/deposits/processed-deposits">3. Processed deposits</a>
       <div id="transaction-verified-by">
        <label>Verified by:</label>
         <select>
            <option value="All">All</option>
     
       @foreach (LoopItem option in rowsStep2Filtered)
        {
        string emailAddress = option.GetString("deposits_final_Step_1_Admin_Email");
        if(!uniqueEmailsVerify.Contains(emailAddress) & emailAddress != ""){
              uniqueEmailsVerify.Add(emailAddress);
            <option value="@emailAddress">@emailAddress</option>
        }
        }
        </select>
    </div>
    <div id="transaction-processed-by">
       
        <label>Processed by:</label>
   
        <select>
            <option value="All">All</option>
         
            @foreach (LoopItem option in rowsStep3Filtered)
            {
          
                string emailAddress = option.GetString("deposits_final_Step_2_Admin_Email");
         
                if(!uniqueEmailsProcesed.Contains(emailAddress) & emailAddress != ""){
                    uniqueEmailsProcesed.Add(emailAddress);
                    <option value="@emailAddress">@emailAddress</option>
                }
            }
        </select>
    </div>
    <div id="filter-by-date">
        <label>Date</label>
        <input type="date" id="transaction-from-date">
        <label>to</label>
        <input type="date" id="transaction-to-date">
        <div id="filter-button" >
            @Translate("Filter", "Filter")
        </div>
    </div>
    <table class="main_table">
        @ListHeaderProcessed()
        <tbody>
            @foreach (LoopItem row in rowsStep3Filtered)
            {
                var rowId = row.GetString("deposits_finalID");
                var detailUrl = "/Default.aspx?ID=" + currentPage + "&deposits_finalID=" + rowId + "&mode=detail&RowId=deposits_finalID%3d" + rowId + "&ViewPID=30810";
                var rowName = "deposits_finalID";
                var parameter = "FORM_ROW_ID=" + rowName + "%3d" + rowId + "&VIEW_ID=" + ViewId;
                var depositID = row.GetString("deposits_finalID").ToString();
                var currentDepositStatus = row.GetString("deposits_final_Status");
                var depositRequestDate = row.GetString("deposits_final_Date_of_request");
                var depositRequestTime = row.GetString("deposits_final_Hour_of_request");
                var depositRequestAmount = row.GetString("deposits_final_Ammount_to_be_deposited");
                var depositRequestCurrency = row.GetString("deposits_final_Deposit_currency");
                var depositUsername = row.GetString("deposits_final_Username");
                var depositBookmaker = row.GetString("deposits_final_Bookmaker");
                var depositPaymentMethod = row.GetString("deposits_final_Payment_method");
                var depositExpress = row.GetString("deposits_final_Express_fee");
                //var editUrl = "/Default.aspx?ID=" + "101694" + "&" + parameter;
                var finalizeUrl = "/Default.aspx?ID=" + "106733" + "&" + parameter;
                var admin1 = row.GetString("deposits_final_Step_1_Admin_Email");
                var admin2 = row.GetString("deposits_final_Step_2_Admin_Email");
                var admin3 = row.GetString("deposits_final_Step_3_Admin_Email");
                var date1 = row.GetString("deposits_final_Step_1_Admin_Date");
                var date2 = row.GetString("deposits_final_Step_2_Admin_Date");
                var date3 = row.GetString("deposits_final_Step_3_Admin_Date");
                var hour1 = row.GetString("deposits_final_Step_1_Admin_Hour");
                var hour2 = row.GetString("deposits_final_Step_2_Admin_Hour");
                var hour3 = row.GetString("deposits_final_Step_3_Admin_Hour");
                
                <tr>
                    @depositListCell("regular", depositID, "")
                    @depositListCell("regular", depositExpress, "")
                    @depositListCell("regular", currentDepositStatus, "")
                    @depositListCell("timestamp", depositRequestDate, depositRequestTime)
                    @depositListCell("amount", depositRequestAmount, depositRequestCurrency)
                    @depositListCell("regular", depositUsername, "")
                    @depositListCell("regular", depositBookmaker, "")
                    @depositListCell("regular", depositPaymentMethod, "")
                    @adminTimeStamp(admin1, date1, hour1, admin2, date2, hour2, admin3, date3, hour3)
                    @depositListButton("button", detailUrl, "Details", "")
                    @depositListButton("button", finalizeUrl, "Finalize Deposit", "")
                </tr>
            }
      </tbody>
    </table>
    
    <a class="fake-tab-link"  href="/english/withdraw-transfers-deposits-for-admin/deposits/finalized-deposits">4. Finalized Deposits</a>
</div>
