

<div class="confirmation-container">
    <div class="table-wrapper-skype">
      <h3>REQUESTED BET</h3>
      <table class="alternate confirmation-table" cellspacing="0" cellpadding="0">
            <tbody>
					<tr>
                    <th>
                        BET ID
                    </th>
                    <td>
                        @GetString("skypeBetsID")
                    </td>
                </tr>
                <tr>
                    <th>
                        ODD min client requested
                    </th>
                    <td>
                        @GetString("skypeBets_MinimumOddRequestedByClient") 
                    </td>
                </tr>
                <tr>
                    <th>
                        ODD we bet in Asia
                    </th>
                    <td>
                        @GetString("skypeBets_OddWeBetInAsia") 
                    </td>
                </tr>
                <tr>
                    <th>
                        ODD we give to client
                    </th>
                    <td>
                        @GetString("skypeBets_OddWeGiveToClient") 
                    </td>
                </tr>
                <tr>
                    <th>
                        Currency
                    </th>
                    <td>
                        @GetString("skypeBets_BetCurrency") 
                    </td>
                </tr>
                <tr>
                    <th>
                        STAKE client
                    </th>
                    <td>
                        @GetString("skypeBets_BetStake") 
                    </td>
                </tr>
               @* <tr>
                    <th>
                        STAKE final
                    </th>
                    <td>
                        @GetString("skypeBets_StakeFinal")
                    </td>
                </tr> *@
                <tr>
                    <th>
                        <h4>BET DETAILS</h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        League
                    </th>
                    <td>
                       @GetString("skypeBets_BetLeague")
                    </td>
                </tr>
                                <tr>
                    <th>
                        Match
                    </th>
                    <td>
                        @GetString("skypeBets_BetMatch")
                    </td>
                </tr>
                <tr>
                    <th>
                        PREMATCH or IN RUNNING
                    </th>
                    <td>
                        @GetString("skypeBets_BetPrematchOrRunning")
                    </td>
                </tr>
                <tr>
                    <th>
                        SCORE
                    </th>
                    <td>
                       @GetString("skypeBets_ScoreAtBetPlacement")  
                    </td>
                </tr>
                <tr>
                    <th>
                        FT/HT
                    </th>
                    <td>
                         @GetString("skypeBets_SoccerFinalTimeHalfTime")
                    </td>
                </tr>
                <tr>
                    <th>
                        BET TYPE
                    </th>
                    <td>
                      @GetString("skypeBets_SoccerBetType")   
                    </td>
                </tr>
                <tr>
                    <th>
                        LINE or HC we bet in ASIA
                    </th>
                    <td>
                       @GetString("skypeBets_LineOrHC")  
                    </td>
                </tr>
                <tr>
                    <th>
                        LINE or HC we get to client
                    </th>
                    <td>
                         
                    </td>
                </tr>
                <tr>
                    <th>
                        IF HC + or -
                    </th>
                    <td>
                       @GetString("skypeBets_SoccerHCType") 
                    </td>
                </tr>
                <tr>
                    <th>
                        BET on WHICH TEAM
                    </th>
                    <td>
                       @GetString("skypeBets_SoccerTeamToBet")  
                    </td>
                </tr>
                <tr>
                    <th>
                        Market
                    </th>
                    <td>
                         @GetString("skypeBets_Market") 
                    </td>
                </tr>
                <tr>
                    <th>
                        NOTES
                    </th>
                    <td>
                        @GetString("skypeBets_BetNotes") 
                    </td>
                </tr>
                <tr>
                    <th class="color--red">
                        BALANCE AVAILABLE TO BET before
                    </th>
                    <td>
                       @GetString("skypeBets_SkypeUserBalance")
                    </td>
                </tr>
                <tr>
                    <th class="color--red">
                        BALANCE AVAILABLE TO BET after
                    </th>
                    <td>
                      @GetString("skypeBets_SkypeClientBalanceAfter")
                    </td>
                </tr>
                <tr>
                    <th>
                        OPERATORS
                    </th>
                    <td>
                        <span>1.</span>@GetString("skypeBets_FirstAdminUsername")<br>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>