	<tr>
    <td><a href="Default.asp?ID=@GetValue("DwSearchResultID")">@GetValue("DwSearchResultNumberResult"). @GetValue("DwSearchResultTitle")</a> (@GetValue("DwSearchResultWeight"))</td>
	</tr>
	<tr>
		<td>@GetValue("DwSearchResultSummary")</td>
	</tr>
	<tr>
		<td><small><em>@Translate("Last updated"): @GetValue("DwSearchResultEditdate")</em></small></td> 
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>