@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@MasterPageFile("MasterNoEcom.cshtml")
@{
 var title = Model.Item.GetValue("Title");
}

@if (Model.PropertyItem.GetBoolean("ShowBreadcrumb")) {
<div class="u-color-light-gray--bg">
	<div class="center-container">
       <div class="grid">
           <div class="grid__col-md-5 grid__col-sm-12 grid__col-xs-12"><div class="grid__cell">
              <h3 class="page-title">@Model.Name</h3>
           </div></div>
           <div class="grid__col-md-7 grid__col-sm-12 grid__col-xs-12"><div class="grid__cell">
              <div class="u-pull--right">
                @RenderNavigation(new
                {
                    id = "breadcrumb",
                    template = "breadcrumb.xslt"
                })
               </div>
           </div></div>
       </div>
	</div>
</div>
}

<div class="grid u-color-ghost-white--bg blog-list">
  <div class="center-container">
<h1 style= "text-align:center;">@title</h1>
    @if (Model.PropertyItem.GetBoolean("LeftMenu"))
    {
        <nav class="grid__col-md-3 grid__col-sm-12 grid__col-xs-12">
           @RenderNavigation(new
           {
               id = "leftnav",
               cssclass = "menu dwnavigation",
               expandmode = "All",
               template = "LeftNavigation.xslt"
           })
        </nav>
    }
    <div class="grid__col-auto grid__col--bleed">
        <div class="grid">
            @Model.Placeholder("dwcontent", "content", "default:true;sort:1")
        </div>
    </div>
  </div>
</div>   
	<div class="center-container blog-description">
    <div class="grid__col-auto grid__col--bleed">
        <div class="grid">
            @Model.Placeholder("dwsubcontent", "sub-content", "default:true;sort:3")
        </div>
    </div>
          </div>

    <div class="grid__col-auto grid__col--bleed">
        <div class="grid">
            @Model.Placeholder("dwfullcontent", "full-content", "default:true;sort:2")
        </div>
    </div>
