@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>

@MasterPageFile("MasterNoEcom.cshtml")

@{
    var bLogo = Model.Item.GetValue("Bookmaker_Logo")!= null ? ((IList<Dynamicweb.Frontend.FileViewModel>)Model.Item.GetValue("Bookmaker_Logo")).FirstOrDefault() : null;
    var bWhiteLogo = Model.Item.GetValue("Bookmaker_WhiteLogo") != null ? ((IList<Dynamicweb.Frontend.FileViewModel>)Model.Item.GetValue("Bookmaker_WhiteLogo")).FirstOrDefault() : null;
    string bSubtitle = Model.Item.GetString("Bookmaker_Subtitle");
    string bTitle = Model.Item.GetString("Bookmaker_Name");
    string bIntroduction = Model.Item.GetString("Introduction");
    string bQuote = Model.Item.GetString("Bookmaker_Quote");
    string bDescription = Model.Item.GetString("Description");
    string bLongDescription = Model.Item.GetString("LongDescription");
    string bBackgroundColor = Model.Item.GetString("HeaderBackgroundColor");

    string bWebsite = Model.Item.GetString("Bookmaker_Website");
    string bCompanyAndLegalForm = Model.Item.GetString("CompanyAndLegalForm");
    string bEstablishedIn = Model.Item.GetString("EstablishedIn");
    string bJurisdiction = Model.Item.GetString("Jurisdiction");
    string bAddress = Model.Item.GetString("Address");
    string bEmailSupport = Model.Item.GetString("EmailSupport");
    
    bool bSupport = Model.Item.GetBoolean("24h_Support");
    bool bCasinoAvailable = Model.Item.GetBoolean("CasinoAvailable");
    bool bPokerAvailable = Model.Item.GetBoolean("PokerAvailable");
    bool bLiveChatSupport = Model.Item.GetBoolean("LiveChatSupport");

    string bAreaTitle = Model.Item.GetString("Area_Title");
    string bBettingPortofolioText = Model.Item.GetString("BettingPortofolioText");

    string bBettingTypeText = Model.Item.GetString("Betting_Type_Text");

    string bCustomerSupport = Model.Item.GetString("CustomerSupport");

    string bLanguagesAreaText = Model.Item.GetString("LanguagesAreaText");

    string bRegisterPageLink = Model.Item.GetString("Register_Page_Link");
    string bCasinoReviewLink = Model.Item.GetString("Casino_Review_Link");
    string bLiveCasinoReviewLink = Model.Item.GetString("Live_Casino_Review_Link_");
    string bPokerRoomReviewLink = Model.Item.GetString("Poker_Room_Review_Link");
    string bMaxbetCasinoReviewLink = Model.Item.GetString("Maxbet_Casino_Games_Link");

    bool bAgentAccountAvailable = Model.Item.GetBoolean("AgentAccountAvailable");
    bool bBettingExchange = Model.Item.GetBoolean("Betting_Exchange");
    bool bCommision = Model.Item.GetBoolean("Commision");

    int pageIdBynavigation = GetPageIdByNavigationTag("VipIbc");
    int pageItemId = Model.ID;
    int sportsCounter = 0;
    
}


    <div class="grid__col-12 u-color-gray--bg">
      <div class="center-container">
        <div class="u-pull--right">
            @RenderNavigation(new
            {
                id = "breadcrumb",
                template = "breadcrumb.xslt"
            })
        </div>
        <div class="u-pull--left">
           <h3 class="page-title">@Model.Name</h3>
        </div>
      </div>
    </div>


<div class="bookmaker">
        <!-- Bookmaker Header 
        @if(bLogo != null) {
            <div class="bookmaker-header u-color-gray--bg" style="background: @bBackgroundColor;">
                <div class="bookmaker-logo">
                    <img src="@bWhiteLogo.Path" />
                </div>
                @if (!string.IsNullOrEmpty(bSubtitle)) { 
                    <p class="bookmaker-subtitle">@bSubtitle</p>
                }
            </div>
        }
-->
        @if (pageIdBynavigation == pageItemId) {
<section>
            @Model.Placeholder("dwcontent", "content", "default:true;sort:1")
           
</section>
        } else {

            <!-- About the bookmaker -->
            <section class="multiple-paragraphs-container bookmaker-container">          
                <div class="center-container dw-mod">
                    <div class="grid">

                        @if (!string.IsNullOrEmpty(bWebsite) || !string.IsNullOrEmpty(bCompanyAndLegalForm) || !string.IsNullOrEmpty(bEstablishedIn) || !string.IsNullOrEmpty(bJurisdiction) || !string.IsNullOrEmpty(bAddress) || !string.IsNullOrEmpty(bEmailSupport) || bSupport || bCasinoAvailable || bPokerAvailable || bLiveChatSupport) { 
                            <div class="grid__col-md-8 grid__col-xs-12">
                                <div class="grid__cell">
                                    <h2>@bTitle</h2>
                                    <div class="introduction">@bIntroduction</div>   
                                  @if(bQuote != ""){
                                    <div class="quote"><i class="fa fa-quote-left"></i>@bQuote</div> 
                                  }
                                    <div class="description">@bDescription</div>
                                        @if(!string.IsNullOrEmpty(logo)){
                                        <div class="logos">
                                            <img src="/Admin/Public/GetImage.ashx?width=180&amp;crop=1&amp;Compression=100&amp;image=/Files/Images/logobet-ibc.jpg" alt="Logo" />
                                        
                                            <img src="@bLogo.Path" />
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="grid__col-md-4 grid__col-xs-12">
                                <div class="grid__cell">
                                    @if (!string.IsNullOrEmpty(bWebsite))
                                    {
                                  
                                    <div class="u-brand-color-one--bg about-bookmaker">
                                     
                                             <img src = "@bLogo">
                                        @if (!string.IsNullOrEmpty(bCompanyAndLegalForm))
                                        {
                                            <p><label>@Translate("Company legal form", "Company / legal form"):</label><span>@bCompanyAndLegalForm</span></p>
                                        }
                                        @if (!string.IsNullOrEmpty(bEstablishedIn))
                                        {
                                            <p><label>@Translate("Established in", "Established in"):</label><span>@bEstablishedIn</span></p>
                                        }
                                        @if (!string.IsNullOrEmpty(bJurisdiction))
                                        {
                                            <p><label>@Translate("Jurisdiction", "Jurisdiction"):</label><span>@bJurisdiction</span></p>
                                        }
                                        @if (!string.IsNullOrEmpty(bAddress))
                                        {
                                            <p><label>@Translate("Address", "Address"):</label><span>@bAddress</span></p>
                                        }
                                        @if (!string.IsNullOrEmpty(bEmailSupport))
                                        {
                                            <p><label>@Translate("Email support", "E-mail support"):</label><span>@bEmailSupport</span></p>
                                        }


                                        @if (bSupport == true)
                                        {
                                            <p><label>@Translate("support", "24h support"):</label><span><i class="fa fa-check"></i></span></p>
                                        }
                                        @if (bCasinoAvailable == true)
                                        {
                                            <p><label>@Translate("Casino available", "Casino available"):</label><span><i class="fa fa-check"></i></span></p>
                                        }
                                        @if (bPokerAvailable == true)
                                        {
                                            <p><label>@Translate("Poker available", "Poker available"):</label><span><i class="fa fa-check"></i></span></p>
                                        }
                                        @if (bLiveChatSupport == true)
                                        {
                                            <p><label>@Translate("Live chat support", "Live chat support"):</label><span><i class="fa fa-check"></i></span></p>
                                        }
                                        @if (bAgentAccountAvailable == true)
                                        {
                                            <p><label>@Translate("Agent Account Available", "Agent Account Available"):</label><span><i class="fa fa-check"></i></span></p>
                                        }
                                        @if (bBettingExchange == true)
                                        {
                                            <p><label>@Translate("Betting Exchange", "Betting Exchange"):</label><span><i class="fa fa-check"></i></span></p>
                                        }
                                        @if (bCommision == true)
                                        {
                                            <p><label>@Translate("Commision", "Commision"):</label><span><i class="fa fa-check"></i></span></p>
                                        }
                              @if (!string.IsNullOrEmpty(bWebsite))
                                        {
                                           <a class = "bookmaker-website" href="http://@bWebsite" target="_blank">@Translate("WEBSITE", "WEBSITE")</a>
                                        }
                                        @if (!string.IsNullOrEmpty(bRegisterPageLink))
                                        {
                                            <a class = "bookmaker-open-account" href="@bRegisterPageLink" class="btn btn--primary">@Translate("Open Account", "Open Account")</a>
                                        }
                                    </div>
                                    }
                                </div>
                            </div>
                            <div class="grid__col-md-8 grid__col-xs-12 paragraph-container">
                                <div class="grid__cell">
                                    <div class="longDescription">@bLongDescription</div>
                                </div>
                            </div>
                        } else {
                            <div class="grid__col-md-8 grid__col-xs-12 paragraph-container">
                                <div class="grid__cell">
                                    <div class="introduction">@bIntroduction</div>   
                                 
                                    <div class="description">@bDescription</div>
                                     <div class="logos"></div>
                                    <div class="longDescription">@bLongDescription</div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </section>


            <!-- Betting portofolio -->
            if (!string.IsNullOrEmpty(bAreaTitle) || !string.IsNullOrEmpty(bBettingPortofolioText) || (Model.Item.GetItems("Sports") != null && Model.Item.GetItems("Sports").Any())) {
            <section class="bookmaker-sports">          
                <div class="center-container dw-mod">
                    <div class="grid__col-md-12 grid__col-xs-12">
                        <h3 class="section-title">@bAreaTitle</h3>
                        <div class="sports grid ">
                       
                            @foreach (var sports in Model.Item.GetItems("Sports"))
                            {
                                var sportIcon = sports.GetValue("Icon") != null ? ((IList<Dynamicweb.Frontend.FileViewModel>) sports.GetValue("Icon")).FirstOrDefault() : null;
                                var sportNameRaw = sports.GetString("SportName");
                                string sportName = sportNameRaw;
                                if (sportIcon != null)
                                {

                                    <div class="sport-icon grid__col-md-1"><img style="" src="@sportIcon.Path" alt="@sportName" title="@sportName"/>
                                        <p>@sportName</p>
                                    </div>
                                }
                            }
                            </div>
                      
                        <div class="betting-portofolio-text">
                            @bBettingPortofolioText
                        </div>
                    </div>
                </div>
            </section>
            }


            <!-- Types and  features -->
            if (!string.IsNullOrEmpty(bBettingTypeText) || (Model.Item.GetItems("Betting_TypeLists") != null && Model.Item.GetItems("Betting_TypeLists").Any())) {
            <section class="multiple-paragraphs-container">          
                <div class="center-container dw-mod">
                    <div class="grid">

                        <div class="grid__col-md-9 grid__col-xs-12">
                            <div class="grid__cell">
                                @if (Model.Item.GetItems("Betting_TypeLists") != null && Model.Item.GetItems("Betting_TypeLists").Any()) {
                                    <!-- betting types -->
                                    <h3 style="text-align:left;" class="section-title">@Translate("Betting Portfolio","Betting Portfolio")</h3>
                                    <div class="grid">
                                        <div class="grid__col-md-8 grid__col-xs-12 betting-portofolio-cta">
                                            <div class="types"><ul>
                                                @foreach (var types in Model.Item.GetItems("Betting_TypeLists")) {
                                                    string bettingType = types.GetString("BettingType");
                                                    <li>@bettingType</li>
                                                }
                                            </ul></div> 
                                        </div>
                                        <div class="grid__col-md-4 grid__col-xs-12">
                                            <div class="betting-portofolio-text">
                                                @bBettingTypeText
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="grid__col-md-3 grid__col-xs-12">
                            <div class="grid__cell">
                                @if (Model.Item.GetItems("Bookmaker_Features") != null && Model.Item.GetItems("Bookmaker_Features").Any()) {
                                    <!-- betting types -->
                                    <h3 style="text-align:left;" class="section-title">@Translate("Features","Features")</h3>
                                    <div class="features">
                                        @foreach (var features in Model.Item.GetItems("Bookmaker_Features")) {
                                            var featureIcon = ((IList<Dynamicweb.Frontend.FileViewModel>)features.GetValue("FeatureIcon")).FirstOrDefault();
                                            string featureTitle = features.GetString("FeatureTitle");
                                            
                                            <div class="feature-item">
                                                @if(featureIcon != null) { 
                                                    <div class="feature-icon"><img src="@featureIcon.Path" /></div> 
                                                }
                                                <h4>@featureTitle</h4>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            }
 

            <!-- Languages -->
            if (!string.IsNullOrEmpty(bLanguagesAreaText) || (Model.Item.GetItems("Bookmaker_Languages") != null && Model.Item.GetItems("Bookmaker_Languages").Any())) {
            <section class="u-color-ghost-white--bg"> 
                <div class="center-container dw-mod">
                    <div class="grid__col-md-8 grid__col-xs-12 languges-bookmaker">  
                        <h3 style="text-align:left" class="section-title">@Translate("Languages","Languages")</h3>
                        <div class="grid languages-area">
                            @if(!string.IsNullOrEmpty(bLanguagesAreaText)) {
                                <div class="grid__col-md-12 grid__col-xs-12">
                                    @bLanguagesAreaText
                                </div>
                            }
                            <div class="grid__col-md-12 grid__col-xs-12 lang-box">
                                @foreach (var lang in Model.Item.GetItems("Bookmaker_Languages")) {
                                    var flag = ((IList<Dynamicweb.Frontend.FileViewModel>)lang.GetValue("Flag")).FirstOrDefault();
                                    string languageAbreviation = lang.GetString("languageAbreviation");
                                    
                                    <div class="lang-item">
                                        @if(flag != null) { 
                                            <div class="flag"><img src="@flag.Path" /></div> 
                                        }
                                        <h5>@languageAbreviation</h5>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            }


            <!-- Customer and Internal links -->
            if(Model.Item.GetItems("SupportOptionsList") != null && Model.Item.GetItems("SupportOptionsList").Any()){
            <section class="multiple-paragraphs-container">          
                <div class="center-container dw-mod">
                      <div class="grid">
                          <div class="grid__col-md-8 grid__col-xs-12 customer-center-bookmaker">
                    <div class="grid">

                        <div class="grid__col-md-7 grid__col-xs-12">
                            <div class="grid__cell">
                                <!-- customer support -->
                                <h3 style = "text-align:left;"class="section-title">@Translate("Customer support","Customer support")</h3>
                                <div class="grid">
                                    <div class="grid__col-md-7 grid__col-xs-12">
                                        <div class="types">
                                            @if(Model.Item.GetItems("SupportOptionsList") != null && Model.Item.GetItems("SupportOptionsList").Any()){
                                                foreach (var customers in Model.Item.GetItems("SupportOptionsList")) {
                                                    var customerIcon = customers.GetValue("Icon") != null ? ((IList<Dynamicweb.Frontend.FileViewModel>)customers.GetValue("Icon")).FirstOrDefault() : null;
                                                    string customerTitle = customers.GetString("Support_Type");

                                                    <div class="feature-item">
                                                        @if(customerIcon != null) { 
                                                            <div class="feature-icon"><img src="@customerIcon.Path" /></div> 
                                                        }
                                                        <h4>@customerTitle</h4>
                                                    </div>
                                                }
                                            }
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__col-md-5 grid__col-xs-12">
                            <div class="grid__cell"> &nbsp;
                                <!-- internal links -->
                                <div class="internal-links">
                                   @if(!string.IsNullOrEmpty(bLiveCasinoReviewLink)) { 
                                        <a href="@bLiveCasinoReviewLink" class="btn">@Translate("Live Casino", "Live Casino")</a> 
                                    }
                                    @if(!string.IsNullOrEmpty(bRegisterPageLink)) 
                                        { <a href="@bRegisterPageLink" class="btn btn--primary dw-mod u-no-margin">@Translate("Open Account", "Open Account")</a> 
                                    }
                                    @if(!string.IsNullOrEmpty(bCasinoReviewLink)) { 
                                        <a href="@bCasinoReviewLink" class="btn u-no-margin">@Translate("Casino", "Casino")</a> 
                                    }
                                   
                                    @if(!string.IsNullOrEmpty(bPokerRoomReviewLink)) { 
                                        <a href="@bPokerRoomReviewLink" class="btn">@Translate("Poker Room", "Poker Room")</a> 
                                    }
                                    @if(!string.IsNullOrEmpty(bMaxbetCasinoReviewLink)) { 
                                        <a href="@bMaxbetCasinoReviewLink" class="btn">@Translate("Casino Games", "Casino Games")</a> 
                                    }
                                </div> 
                            </div>
                        </div>

                    </div>
                    </div>

                    </div>
                </div>
            </section>
            }


            if(Model.Item.GetItems("FAQ_List") != null && Model.Item.GetItems("FAQ_List").Any()){
            <section class="multiple-paragraphs-container">          
                <div class="center-container dw-mod">
                    <div class="grid">

                        <div class="grid__col-md-12 grid__col-xs-12">
                            <div class="grid__cell">
                                <!-- customer support -->
                                <h3 class="section-title">@Translate("Faq","Faq")</h3>
                                <div id="accordion">
                                @foreach (var q in Model.Item.GetItems("FAQ_List")) {
                                        string question = q.GetString("Question");
                                        string answer = q.GetString("Answer");
                                        
                                        <div class="faq-item">
                                            <div class="faq__question"><span>Q:</span> @question</div>
                                            <section class="faq__answer">
                                                <div class="faq__body">
                                                    @answer
                                                </div>
                                            </section>
                                        </div>
                                }

                            </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </section>
            }  

            var slides = Model.Item.GetItems("Slides");
            if(slides != null && slides.Any()){
            <section class="multiple-paragraphs-container">          
                <div class="center-container dw-mod">
                    <div class="grid">

                        <div class="grid__col-md-12 grid__col-xs-12">
                            <div class="grid__cell"  id="bookmakerSlider">
                                @foreach (var s in slides) {
                                    string image = s.GetString("Image");
                                    
                                    <div><img src="@image" alt="" /></div>
                                }
                            </div>
                        </div>
                    
                    </div>
                </div>
            </section>
            }          
        }
 </div>



@* 
<div class="responsive-image responsive-image--16-9">
    <img src="/Admin/Public/GetImage.ashx?width=1600&amp;crop=5&amp;Compression=75&amp;DoNotUpscale=1&amp;image=@Model.Item.GetFile("Image").Path" />
</div> *@