@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.PageViewModel>
@MasterPageFile("MasterNoEcom.cshtml")
@using System.LINQ
@using System.Globalization


<div class="grid tips-list"> 
 
@{
  
	string  predictionTitle = Model.Item.GetString("Prediction_Title"),
          description = Model.Item.GetString("Description"),
          prediction = Model.Item.GetString("Prediction"),
          stake = Model.Item.GetString("Stake").Replace("/10", "").ToString(),
        
          league = Model.Item.GetString("League"),
          predictionStatus = Model.Item.GetString("Prediction_Status").ToLower(),
  		  tournament = Model.Item.GetString("Tournament"),
          category = Model.Item.GetString("Category"),
          won = Model.Item.GetString("Prediction_Status"),
          finalScore = Model.Item.GetString("Match_Final_Score"),
          bettingPrediction = Model.Item.GetString("BettingPrediction");
         var odds = Model.Item.GetString("Odds").Contains(",") ? Model.Item.GetString("Odds").Replace(",", ".") : Model.Item.GetString("Odds");
  var resultScreenshot =Model.Item.GetValue("Result_Screenshot") != null ? ((IList<Dynamicweb.Frontend.FileViewModel>) Model.Item.GetValue("Result_Screenshot")).FirstOrDefault() : null;
  var VIPScreenshot = Model.Item.GetValue("VIP_IBC_Screenshot") != null ? ((IList<Dynamicweb.Frontend.FileViewModel>) Model.Item.GetValue("VIP_IBC_Screenshot")).FirstOrDefault() : null;

  var tipsterID = Model.Item.GetString("Tipster_ID");

  var selectedTipsterReplace = tipsterID.Replace(" ", "");
  
  var selectedTipsterID = GetPageIdByNavigationTag(selectedTipsterReplace);

  string bookmakerName = Model.Item.GetString("Bookmaker_Name");   
  var bookmaker = Model.Item.GetValue("Bookmaker") != null ? ((IList<Dynamicweb.Frontend.FileViewModel>) Model.Item.GetValue("Bookmaker")).FirstOrDefault() : null;
  string bookmakerURL = Model.Item.GetString("BookmakerUrl");
  // var page = Dynamicweb.Content.Page.GetPageById(id);
  if(bookmakerName != ""){
  var bookMakerPageID = GetPageIdByNavigationTag(bookmakerName);
  var bookMakerPageFriendlyURL = Dynamicweb.Frontend.SearchEngineFriendlyURLs.GetFriendlyUrl(bookMakerPageID);
  }
  //var bookMakerPage = Dynamicweb.Extensibility.ServiceLocator.Current.GetPageService().GetPage(bookMakerPageID);
  //var bookMakerItem = bookMakerPage.Item;
  //var bookMakerImage = bookMakerItem != null? bookMakerItem["Bookmaker_Logo"] : "";

  var startGmt =  Model.Item.GetDateTime("Start_GMT");
  string startGmtItem = startGmt == DateTime.MinValue ? "" : startGmt.ToString("dd-MMM-yyyy - H:mm");
 
  var dateAdded =  Model.Item.GetDateTime("Date_Added");
  string dateAddedItem = dateAdded == DateTime.MinValue ? "" : dateAdded.ToString("dd-MMMM-yyyy - H:mm");
  var predictionStatusClean = predictionStatus =="won" ? "W" : predictionStatus == "lost" ? "L" : predictionStatus =="half won" ? "HW" : predictionStatus == "half lost" ? "HL" : "D";;
  var lettersColor = predictionStatus =="won" ? "background-color:#0FBB7D" : predictionStatus == "lost" ? "background-color:#e30f0c" : predictionStatus =="half won" ? "background-color:#0FBB7D" : predictionStatus == "half lost" ? "background-color:#e30f0c" : "background-color:#000";
  string[] stakeSplit = @stake.Split('/');

 
  float oddsNumber; 
  bool success = float.TryParse(odds, NumberStyles.Number, CultureInfo.CreateSpecificCulture ("en-US"), out oddsNumber); 
  float oddsFloat = oddsNumber;

  var stakeLength = 0;

  var stakeToShow = (oddsFloat - 1) * float.Parse(stake);
  var stakeHalfWon = ((oddsFloat * float.Parse(stake)) - float.Parse(stake)) / 2 ;
  var stakeHalfLost =  float.Parse(stake) / 2 ;

  byte[] tempBytes;
  tempBytes = System.Text.Encoding.GetEncoding("ISO-8859-8").GetBytes(predictionTitle);
  string asciiStr = System.Text.Encoding.UTF8.GetString(tempBytes);

}
@foreach (var elementStake in stakeSplit){
  stakeLength = stakeLength + 1;
}

<div value = "@startGmt" class="grid__col-md-12 grid__col-xs-12 tips_cell prediction-single " data-prediction-ID = "@Model.ID" data-test="@predictionStatus">
  <div class="grid__cell">
    <div class="center-container dw-mod">
      <div class="grid">        
        <div class="grid__col-md-12 grid__col-xs-12"><h3 style ='@lettersColor'>@predictionStatusClean</h3></div>

      </div>
      <div></div>
    @if(!string.IsNullOrEmpty(predictionTitle)) {
      <div class="grid">
        <div class="grid__col-md-9 grid__col-xs-12"><h3>@predictionTitle</h3></div>
      </div>
    }
      <div class="grid @predictionStatus">
        <div class="grid__col-md-3 grid__col-xs-12">
        @if(!string.IsNullOrEmpty(prediction)) { 
          <p><strong>@Translate("Prediction", "Prediction"):</strong> @prediction </p>
        }
          <p>
            <strong>@Translate("Tipster", "Tipster"):</strong> <a data-tipster-name = "@selectedTipsterReplace" class = "tipster-link-value " href='/Default.aspx?ID=@selectedTipsterID'>@tipsterID <i class = "nationality-flag-single flag-api flag "></i></a>
          </p>
        @if(!string.IsNullOrEmpty(category)) {
          <p><strong>@Translate("Category", "Category"):</strong> @category</p>
        }
        @if(league != "N/A") { 
        if(league != ""){
          <p><strong>@Translate("League", "League"):</strong> @league</p>
        }
        }     
        </div>

        <div class="grid__col-md-3 grid__col-xs-12">
        @if(tournament != "N/A") {
          if(tournament != ""){
          <p><strong>@Translate("Tournament", "Tournament"):</strong> @tournament</p>
          }
        }
          @if (bookmaker != null)
          {
            <p><strong>@Translate("Bookmaker", "Bookmaker"):</strong> <a href="@bookmakerURL"><img loading = 'lazy' src="@bookmaker" alt="" class="bookmaker-logo"/></a></p>
          }
                     
        @if(!string.IsNullOrEmpty(stake)) {
          if(stakeLength == 1){
            <p><strong>@Translate("Stake", "Stake"):</strong> @stake/10</p>
          }else{
            <p><strong>@Translate("Stake", "Stake"):</strong> @stake</p>
          }
        }
 
        @if(!string.IsNullOrEmpty(odds)) { 
          <p><strong>@Translate("Odds", "Odds"):</strong> @odds</p>
        }
        @if (!string.IsNullOrEmpty(finalScore))
        { 
     if (predictionStatus == "cancelled ")
          {
                <p class = "tip-final-status">@stake <span class="draw-tip"> <i class="fa fa-circle" aria-hidden="true"></i></span>@finalScore </p>
          } 
      
          if (predictionStatus == "won")
          {
 
            <p class = "tip-final-status"><span class="won-tip"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></span>@stakeToShow<span class="won-tip"><i class="fa fa-check" aria-hidden="true"></i></span>@finalScore </p>
          }
          if (predictionStatus == "draw")
          {
            <p class = "tip-final-status">@stake <span class="draw-tip"> <i class="fa fa-circle" aria-hidden="true"></i></span>@finalScore </p>
          }
          if (predictionStatus == "lost")
          {
            <p class = "tip-final-status"><span class="lost-tip"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> </span>@stake&nbsp;&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>@finalScore  </p>
          } 
        if (predictionStatus == "half won")
          {
  
            <p class = "tip-final-status"><span class="won-tip"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></span>@stakeHalfWon<span class="won-tip"><i class="fa fa-check" aria-hidden="true"></i></span>@finalScore </p>
          }
        if (predictionStatus == "half lost")
          {
            <p class = "tip-final-status"><span class="lost-tip"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i> </span>@stakeHalfLost <i class="fa fa-times" aria-hidden="true"></i> @finalScore  </p>
          } 
     
        }
        </div>

        <div class="grid__col-md-3 grid__col-xs-12">
          <img class = "bookmaker-logo-col" src = "@bookmaker">
        </div>


           @if (VIPScreenshot != null)
           {
             <div class="grid__col-md-3 grid__col-xs-12">
               <a href="@VIPScreenshot" data-lightbox="roadtrip" data-gallery="gallery" class="col-md-4 light-box-after">
                 <img class="img-fluid rounded bookmaker-logo-col" src="@VIPScreenshot">
               </a>
             </div>
           }
        
      </div>     
      <div class="grid">
        <div class="grid__col-md-12 grid__col-xs-12 col-info-tips-event">
          <p>@Translate("Betting prediction", "Betting prediction"): @bettingPrediction</p>
          <p>@Translate("Starting Time", "Starting Time"): @startGmtItem</p> 
        </div>
        
        <div class="grid__col-md-12 grid__col-xs-12 col-info-tips-event">
          <img loading = 'lazy' src="@resultScreenshot">
        </div>
     
      </div>
      <div class="grid">
        <div class="grid__col-md-12 grid__col-xs-12">
        @if(!string.IsNullOrEmpty(description)) {
          <div class="description">
          @if(!string.IsNullOrEmpty(odds)) { 
            if(string.IsNullOrEmpty(bookmakerName)) { 
              <p><strong>@Translate("The bet was made via", "The bet was made via") <a id = "bookmaker-link-prediction" href = "@bookmakerURL">@bookmakerName</a> @Translate("at odds:", "at odds:") @odds</strong></p>
            }else{
              <p><strong>@Translate("The bet was made via", "The bet was made via") <a id = "bookmaker-link-prediction" href = "@bookmakerURL">@bookmakerName</a> @Translate("at odds:", "at odds:") @odds</strong></p>  
            }
          }
            @description            

          </div>
        } 
        </div>
      </div>
      <div class="grid">
        <div class="grid__col-md-4 grid__col-xs-12">
          <p><strong>@Translate("Add Date", "Add Date"):</strong> @dateAddedItem</p>
        </div>
           <div class="grid__col-md-4 grid__col-xs-12">
        </div>
        <div class="offset-md-4 grid__col-md-4 grid__col-xs-12">
          <div id="dsSocialFontIconsShare">
            <p>@Translate("Share", "Share"):</p>
            <!--<div class=txt></div>-->
            <a class="fb" href="#" title="Facebook" onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="li" href="#" title="LinkedIn" onclick="window.open('https://www.linkedin.com/cws/share?url='+encodeURIComponent(location.href), 'width=626,height=436'); return false;"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="tw" href="#" title="Twitter" onclick="javascript:(function(){window.twttr=window.twttr||{};var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document,E;if(C&gt;A){G=Math.round((C/2)-(A/2))}window.twttr.shareWin=window.open('http://twitter.com/share','','left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');E=F.createElement('script');E.src='http://platform.twitter.com/bookmarklets/share.js?v=1';F.getElementsByTagName('head')[0].appendChild(E)}());"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
               <div class="grid__col-md-12 grid__col-xs-12 cta-tips-list">
                               @if(bookmakerName != ""){
            <p class = "center"><strong>@Translate("Follow this bet and open an account at", "Follow this bet and open an account at") <a id = "bookmaker-name-prediction" href = "@bookmakerURL" >@bookmakerName</a> @Translate("now", "now")</strong></p>
}else{
<p class = "center"><strong>@Translate("Follow this bet and open an account at", "Follow this bet and open an account at") <a id = "bookmaker-name-prediction" href = "" >Bookmaker Name</a> @Translate("now", "now")</strong></p>
}
        
     
          <a id = "bookmaker-name-prediction-button" href="@bookmakerURL" class="btn btn--primary btn--line-height dw-mod">@Translate("SIGN UP at", "SIGN UP at")    
          @if(bookmakerName != ""){ 
          @bookmakerName 
          }else{
          <span>Bookmaker Name</span>
          }</a>
        </div>
      </div>
      @* <small class="article__subheader">@Translate("Written by") @item.GetString("Author") @Translate("on") @item.GetDate("Date").ToShortDateString()</small> *@ 
    </div>
  </div>
  <div class = "tips-separator"></div>
</div>
</div>