@{
var title = GetString("Item.Row_Title"); 
var text = GetString("Item.Row_Description"); 
var backgroundImage = GetString("Item.BackgoundImage.Value") ;
var isSingle = GetString("Item.Single_Column");
var position = GetString("Item.Single_Column_Position");
var columns = GetLoop("Item.Columns");
var customClass = GetString("Item.Custom_Class");
var columnsNumber = GetLoop("Item.Columns").Count();
var columnNumber = isSingle == "True" ? 6 : 12 / columnsNumber;

}
<section style='background-image:url("/Admin/Public/GetImage.ashx?Image=@backgroundImage&Crop=5&DoNotUpscale=1&width=1800&height=800&Quality=99&Format=webP")' class = "columns-section @customClass">
<div class = "container columns">
<div class = "grid">

@foreach(var column in columns){
  var columnTitle = column.GetString("Item.Columns.Title");
  var columnSubtitle = column.GetString("Item.Columns.Subtitle");
  var columnText = column.GetString("Item.Columns.Text");
  var columnButtonText = column.GetString("Item.Columns.Button_Text");
  var columnButtonLink = column.GetString("Item.Columns.Button_Link");
  var columnImage = column.GetString("Item.Columns.Image");
  var columnIsBubble = column.GetString("Item.Columns.IsBubble");
   var columnIsBubbleClass = column.GetString("Item.Columns.IsBubble") == "True" ? "bubble-column" : "";
  var buttonStyle = column.GetString("Item.Columns.Button_Style");
    var subColumns = column.GetLoop("Item.Columns.Subcolumn");
    var subColumnsCount = column.GetLoop("Item.Columns.Subcolumn").Count();

   
  if(columnIsBubble == "True"){
      <div class="grid__col-md-@columnNumber @position @columnIsBubbleClass">
          @if (columnImage != "")
          {
              <img loading="lazy" src="/Admin/Public/GetImage.ashx?Image=@columnImage&Crop=5&DoNotUpscale=1&width=200&height=600&Quality=99&Format=png" alt="Column Image">
              
          }
         
          <div class="bubble-wrapper">
              <div class="bubble-content-wrapper">
                  @columnText
              </div>
          </div>
      </div>
  }else{
 
      <div class="grid__col-md-@columnNumber @position ">
          @if (subColumnsCount != 0)
          {
              <div class="subcolumns">
                  @foreach (var subColumn in subColumns)
                  {
                      <div class="subcolumn">
                      <h1>@subColumn.GetString("Item.Columns.Subcolumn.Title")</h1>
                      <h2>@subColumn.GetString("Item.Columns.Subcolumn.Subtitle")</h2>
                 </div>
                  
                  }
              </div>
          }
        @if (subColumnsCount != 0)
        {
            <div class="column-wrapper">
            <h1>@columnTitle</h1>
            <h2>@columnSubtitle</h2>

            @columnText
            <a class="button-columns button-@buttonStyle" href="@columnButtonLink">@columnButtonText</a>
            </div>
        }
        else
        {
            <h1>@columnTitle</h1>
            <h2>@columnSubtitle</h2>

            @columnText
            <a class="button-columns button-@buttonStyle" href="@columnButtonLink">@columnButtonText</a>
        }
      </div>
   
  }
}
  </div>
</div>
</section>