
@{
var youCanBetPage ="/Default.aspx?ID=" + GetPageIdByNavigationTag("YouCanBetPage").ToString();
var latestTipsPage = "/Default.aspx?ID=" + GetPageIdByNavigationTag("LatestTips").ToString();
}

<section id = "latest-tips" data-date-translate = '@Translate("DateandTime","Date & time")' data-league-translate='@Translate("League","League")' data-match-translate='@Translate("PredictionMatch","Match")' data-stake-translate = '@Translate("PredictionStake","Stake")' data-odd-translate = '@Translate("PredictionOdd","Odd")' data-betting-translate = '@Translate("BettingTip","Betting tip")' data-bookmaker-translate='@Translate("PredictionBookmaker","Bookmaker")' data-status-translate='@Translate("PredictionStatus","Status")'>

  <div class = "center-container dw-mod">
      <div class = "filter-latest-tips">
      
        <a href = "@latestTipsPage">@Translate("AllTips","All Tips")</a>
        <a href ="@youCanBetPage">@Translate("YouCanBet","You can bet")</a>
  </div>
    <div class = "row title-row">
      <div class = "col col-tipster">
        <p>@Translate("DateandTime","Date & time")</p>
      </div>
        <div class = "col col-game">
          <p>@Translate("League","League")</p>
      </div>
        <div class = "col col-match">
          <p>@Translate("PredictionMatch","Match")</p>
      </div>
        <div class = "col col-stake">
           <p>@Translate("PredictionStake","Stake")</p>
      </div>
        <div class = "col col-odd">
          <p>@Translate("PredictionOdd","Odd")</p>
      </div>
      
        <div class = "col col-bet">
           <p>@Translate("BettingTip","Betting tip")</p>
      </div>
      <div class = "col col-bookmaker">
        <p>@Translate("PredictionBookmaker","Bookmaker")</p>
      </div>
      <div class = "col col-status">
        <p>@Translate("PredictionStatus","Status")</p>
      </div>
    </div>
    <div class = "message-col">
   <h3> @Translate("There are no predictions with status open to bet at moment", "There are no predictions with status open to bet at moment");</h3>
    </div>
    
  

  </div>
</section>
<section class = "pagination-section">
<div class = "center-container dw-mod">
    <div id = "pagination-latest-tips" data-total-pages="">
    </div>
</div>
</section>
<div class = "latest-tips-overlay active">
</div>
      